body {
  font-family: 'Helvetica Neue LT Std';
}
.page-header {
  color: rgb(218, 159, 38)!important;
  font-weight: bold;
  font-size: 28px;
}
.color-change {
  color: white!important;
}
.navbar .container .row {
  width: 100%;
}
.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.51);
}
.navbar .row .navbar-elements .navbar-nav .second .nav-link {
  color: white!important;
  padding-top: 12px;
}
.carousel .carousel-item .carousel-caption h2 ,.carousel .carousel-item .carousel-caption p {
  font-weight: bold;
}
.carousel .carousel-item .carousel-caption .text-left {
  width: 30%;
}

.signin ,.close {
  display: none;
}
/* dropdown for signin */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(218, 159, 38);
  min-width: 295.78px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content form {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content h3 {
  color: black;
  font-weight: bold;
  padding: 18px 16px;
}
.dropdown-content a {
  color: black;
  text-decoration: underline;
}
.dropdown-content input[type="text"] ,.dropdown-content input[type="email"] {
  font-size: 14px;
}
.dropdown-content .form-check label {
  font-size: 14px;
}
.show {
  display: block;
}
.dropdown-content button {
  background-color: rgb(37,37,37);
  color: white;
  border-radius: 0!important;
}
.dropdown-content button:hover {
  color: white;
}


/* common color utility */
.cm {
  color: rgb(218, 159, 38)!important;
}
.cm-bg {
  background-color: rgb(218, 159, 38)!important;
  color: white;
}
/* common button utility */
.cm-bt {
  border-radius: 0!important;
  color: rgb(66,66,66)!important;
  border-color: rgb(66,66,66)!important;
}
.cm-bt-w {
  color: white;
  border-color: white;
  border-radius: 0;
}
.cm-bt-w:hover {
  color: black;
  background-color: white;
}


.principles {
  background-color: white;
  border-bottom: 5px solid black;
}
.principles .principle-head a {
  border: 1px solid rgb(218, 159, 38)!important;
}
.principles .card {
  border: none;
}
.principles .card .cm-bg {
  padding: 7px;
}
.principles .principle-head a:hover {
  color: black;
}
.principles .card:hover {
  transform: scale(1.02);
  transition: all 0.5s ease-in-out 0s;
}

.events {
  background-image: url('media/blur.jpeg');
}
.events .row .col-md-6 ,.events .row .col-md-6 .col {
  overflow: hidden!important;
}
.events .events-head a,.media .media-head {
  color: white;
  border: 2px solid white;
  font-weight: 600;
  text-decoration: none;
  width: fit-content;
}
.events .events-head a:hover {
  color: white;
}
.events .ev-tit h6 {
  color: white;
  font-weight: bold;
}
.events .ev-tit p {
  font-size: 10px;
}
.events .ev-desc p {
  font-size: 14px;
}
.events .ev {
  height: 100%;
  background-color: rgb(22, 20, 21);
}
.events .col-md-6 .row:hover .ev {
  background-color: white;
}
.events .col-md-6 .row:hover .ev-tit h6 ,.events .col-md-6 .row:hover .ev-tit p ,.events .col-md-6 .row:hover .ev-desc p {
  color: black!important;
}

.events .col-md-6 .row:hover img {
  transform: scale(1.02);
  transition: all 0.5s ease-in-out 0s;
}

.media {
  background-color: rgb(37, 37, 39);
}
.media .media-head h6 {
  padding: 6px 12px;
}
.media .card {
  background-color: rgb(37, 37, 39);
  border: none;
  overflow: hidden;
}
.media .card .social-icons ul{
  float: right;
  flex-wrap: nowrap;
}
.media .card .social-icons .nav-item .nav-link {
  margin-right: -24px;
}
.media .card .social-icons .nav-item .nav-link .fab ,.media .card .social-icons .nav-item .nav-link .fas {
  background-color: white;
  color: rgb(37, 37, 39);
  border-radius: 63%;
  font-size: 14px;
  width: 26px;
  height: 26px;
  padding: 6px 7px;
}
.media .card .social-icons .nav-item .nav-link i:hover {
  background-color: rgb(218, 159, 38);
}
.media .card-body img {
  z-index: 1;
  position: absolute;
  margin-top: -23%;
}
/* image rotate */
.media .card:hover .card-body img {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.4s ease-in-out 0s;
  border-radius: 50%;
}
.media .card:hover .card-img-top {
  transform: scale(1.02);
  transition: all 0.5s ease-in-out 0s;
}
.media .card-body h5 ,.media .card-body p {
  color: rgb(172, 164, 168);
}
.media .card-body p {
  font-size: 12px;
}
.media .card-body h5 {
  font-weight: bold;
}
.media .card-body button  {
  font-size: 14px;
}
.media .media-sp-card img {
  z-index: 1;
  position: absolute;
  margin-top: -35%;
}
.media .media-sp-card h6{
  color: rgb(172, 164, 168);
  font-size: 12px;
}


/* footers */
.footer-one {
  background-color: rgb(41, 42, 44);
}
.footer-one .nav .nav-link {
  color: rgb(137, 138, 139);
}
.footer-one .social-links {
  float: right;
}
.footer-one .terms  .nav {
  flex-wrap: nowrap;
}
.footer-one .terms  .nav .nav-link {
  font-size: 13px;
}
.footer-one .terms  .nav .nav-link:hover {
  color: rgb(218, 159, 38)!important;
}
.footer-one .social-links li {
  font-size: 22px;
}
.footer-one .social-links .nav-item a:hover {
  color: rgb(218, 159, 38)!important;
}

.footer-two {
  background-color: rgb(0, 0, 0);
}
.footer-two table,.footer-two p {
  color: rgb(137, 138, 139)!important;
}
.footer-two .footer-head {
  font-weight: bold;
  color: rgb(137, 138, 139)!important;
}
.footer-two .table td,.footer-two p {
  font-size: 12px;
}
.footer-two .table td:hover {
  color: rgb(218, 159, 38)!important;
}
.footer-two input[type="text"] {
  font-size: 12px;
  border-radius: 0;
}
.footer-two .input-group-append {
  background-color: rgb(101, 155, 251);
}
.footer-two .input-group-append span {
  background-color: rgb(101, 155, 251);
  border: 0;
}
.footer-two .table td {
  padding: 10px;
}


.footer-three {
  background-color: rgb(22, 22, 22);
  color: rgb(137, 138, 139)!important;
}
.footer-three p {
  font-size: 12px;
}
.footer-three .footer-img img {
  float: right;
}


.form-control ,.custom-select {
  border-radius: 0!important;
}
.card-img-top {
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}
.card-img {
  border-radius: 0!important;
}
.card {
  border-radius: 0!important;
}
